@tailwind base;
@tailwind components;
@tailwind utilities;


#viewer{
    height: 90%;
    padding-top: 0px;
}

#headerViewer{
    height: 10%;
}
#bodyViewer{
    height: 90%;
}

#loadCircle{
    animation: spin 5s infinite linear;
    position: relative;
}
#loadCircle div{
    position: absolute;
    top: 0px;
    transform: translateY(-50%);
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}